*{
	font-size: 20px;
	color: white;
}


.header{
	background-color: pink;
}

.card1{
	background-color: lightcoral;
	text-align: center;

}
.card2{
	background-color: lightcoral;
	text-align: center;
}
.card3{
	background-color: lightcoral;
	text-align: center;
}

.card4{
	background-color: lightcoral;
	text-align: center;
}

.card5{
	background-color: lightcoral;
	text-align: center;
}
.card6{

	background-color: lightcoral;
	text-align: center;
}
