.bunner{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M -238.24412537803914%2c154 C -142.24%2c217 49.76%2c462.4 241.75587462196086%2c469 C 433.76%2c475.6 529.76%2c186.2 721.7558746219609%2c187 C 913.76%2c187.8 1009.76%2c484.6 1201.7558746219609%2c473 C 1393.76%2c461.4 1634.11%2c156.2 1681.7558746219609%2c129 C 1729.4%2c101.8 1488.35%2c295.4 1440%2c337' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -287.0117172696995%2c260 C -191.01%2c276.2 0.99%2c359.6 192.98828273030054%2c341 C 384.99%2c322.4 480.99%2c146.2 672.9882827303005%2c167 C 864.99%2c187.8 960.99%2c429 1152.9882827303006%2c445 C 1344.99%2c461 1575.59%2c277.4 1632.9882827303006%2c247 C 1690.39%2c216.6 1478.6%2c283.8 1440%2c293' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -768.5410636066042%2c95 C -672.54%2c133.4 -480.54%2c264.4 -288.54106360660415%2c287 C -96.54%2c309.6 -0.54%2c203.8 191.45893639339585%2c208 C 383.46%2c212.2 479.46%2c306.4 671.4589363933958%2c308 C 863.46%2c309.6 997.75%2c199.4 1151.4589363933958%2c216 C 1305.17%2c232.6 1382.29%2c356 1440%2c391' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -579.3067385403317%2c362 C -483.31%2c331.2 -291.31%2c192.8 -99.30673854033166%2c208 C 92.69%2c223.2 188.69%2c429.2 380.69326145966835%2c438 C 572.69%2c446.8 668.69%2c269.6 860.6932614596683%2c252 C 1052.69%2c234.4 1224.83%2c353.2 1340.6932614596683%2c350 C 1456.55%2c346.8 1420.14%2c258.8 1440%2c236' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	height:300px;
}


.card .fs{
	position: absolute;
	top: 0;
	right: 0;
/*	background-color: rgba(0, 0, 0, 0.2);*/

	color: blue;
	padding: 0.5rem 1.5rem;

	margin:10px;

}



